body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#weatherBox {
    color: whitesmoke;
    display: inline-block;
    height: 60px;
    font-size: 25px;
    opacity: 0.9;
    width: 10%;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-right: 34px;
    float: right;
}

#textContainer {
    font-family: 'Overpass Mono', monospace;
    position: fixed;
    top: 50%;
    width:100%;
}

#middleText {
    text-align: center;
    color:floralwhite;
    font-size:70px;
    font-weight:500;
    text-shadow: 4px 4px black;
}

#location{
    display: inline-block;
}

#foodButton {
    text-align: center;
    display: block;
    margin: auto;
    height: 40px;
}

#mainPage {
    height:100vh;
    max-width:100vw;
}

#yelpInfo {
    text-align: center;
    display:inline-block;
    height: 350px;
    width: 550px;
    top:30px;
    margin-left: 192px;
    background-color:darkred;
    float:left;
    position:relative;
    border-radius:5px;
    color:white;
    opacity:0.9;
}
#businessName {
    font-size:50px;
}
#businessPhone {
    font-size: 20px;
}
#businessAddress {
    font-size: 30px;
}
#goToYelp {
    color: black;
}

#yelpPicture {
    display:inline-block;
    height: auto;
    width: auto;
    max-height:350px;
    max-width:500px;
    position:relative;
    top:30px;
    margin-right: 192px;
    background-color:white;
    float:right;
    border-radius:5px;
    opacity:0.9;
    overflow:hidden;

}
#googleMaps {
    height: 45%;
    width: 80%;
    margin-left: 10%;
    transform: translateY(20%);
    border-radius:5px;
    opacity:0.92;
}
/*Helper Class*/
.hideOverflow {
    overflow-y: hidden;
}
#firstPage {
    align-items: center;
    height: 100%;
    justify-content: center;
    display: flex;
    position: absolute;
    left: 50%;
}

#food {
    background-size: contain;
    height: 100%;
    width: 100%;
}

.clock {
    font-size: 4em;
    text-align: center;
    text-shadow: 4px 4px black;
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 42%;
    width: 100%;
}

@media only screen and (max-width: 650px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .clock {
        font-size: 3em;
        text-align: center;
        text-shadow: 4px 4px black;
        color: #fff;
    }

    #middleText {
        text-align: center;
        color: floralwhite;
        font-size: 40px;
        text-shadow: 4px 4px black;
        font-weight: 500;
    }

    #foodButton {
        text-align: center;
        font-size: 12px;
        display: block;
        margin: 3% auto;
        height: 40px;
    }

    #textContainer {
        font-family: 'Overpass Mono', monospace;
    }

    #mainPage {
        height: 100vh;
        max-width: 100vw;
    }

    #yelpInfo {
        all: unset;
        background-color: darkred;
        color: white;
        opacity: 0.9;
        font-size: 28px;
    }

    #yelpPicture {
        all: unset;
        padding: 0;
        opacity: 0.9;
    }

    #googleMaps {
        height: 45%;
        width: 80%;
        margin-left: 10%;
        transform: translateY(30%);
        border-radius: 5px;
        opacity: 0.92;
    }

    #firstPage {
        align-items: center;
        height: 100%;
        justify-content: center;
        display: flex;
        position: absolute;
        left: 50%;
    }

    #food {
        all: unset;
        background-size: contain;
        width: 100%;
        height: 40%;

    }

    #location {
        display: inline-block;
    }
}



