body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#weatherBox {
    color:floralwhite;
    float:right;
    height:200px;
    width:200px;
    border:1px solid white
}

#textContainer {
    font-family: 'Overpass Mono', monospace;
}

#middleText {
    text-align: center;
    color:floralwhite;
    font-size:70px;
    font-weight:500;
    text-shadow: 4px 4px black;
}

#location{
    display: inline-block;
}

#foodButton {
    text-align: center;
    display: block;
    margin: auto;
    height: 40px;
}

#mainPage {
    height:100vh;
    max-width:100vw;
}

#yelpInfo {
    text-align: center;
    display:inline-block;
    height: 350px;
    width: 550px;
    top:30px;
    margin-left: 192px;
    background-color:darkred;
    float:left;
    position:relative;
    border-radius:5px;
    color:white;
    opacity:0.9;
}
#businessName {
    font-size:50px;
}
#businessPhone {
    font-size: 20px;
}
#businessAddress {
    font-size: 30px;
}
#goToYelp {
    color: black;
}

#yelpPicture {
    display:inline-block;
    height: 350px;
    width: 550px;
    position:relative;
    top:30px;
    margin-right: 192px;
    background-color:white;
    float:right;
    border-radius:5px;
    opacity:0.9;
}
#googleMaps {
    height: 45%;
    width: 80%;
    margin-left: 10%;
    transform: translateY(20%);
    border-radius:5px;
    opacity:0.92;
}
/*Helper Class*/
.hideOverflow {
    overflow-y: hidden;
}
#firstPage {
    align-items: center;
    height: 100%;
    justify-content: center;
    display: flex;
}

#food {
    background-size: contain;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    #middleText {
        text-align: center;
        color:floralwhite;
        font-size:40px;
        text-shadow: 4px 4px black;
        font-weight:500;
    }

    #foodButton {
        text-align: center;
        display: block;
        margin: 3% auto;
        height: 40px;
    }

}

.clock {
    font-size: 7em;
    text-align: center;
    text-shadow: 4px 4px black;
    color: #fff;
}

