body {
    background-size: cover;
    background-repeat: no-repeat;
}

#weatherBox {
    color:floralwhite;
    float:right;
    height:200px;
    width:200px;
    border:1px solid white
}

#middleText {
    text-align: center;
    color:floralwhite;
    font-size:70px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:500;
}

#location{
    display: inline-block;
}

#foodButton {
    text-align: center;
    margin-left: 23%;
    margin-top: 3%;
    height: 40px;
}

#mainPage {
    height:100vh;
    max-width:100vw;
}

#yelpInfo {
    display:inline-block;
    height: 350px;
    width: 550px;
    top:60px;
    margin-left: 192px;
    background-color:white;
    float:left;
    position:relative;
}

#yelpPicture {
    display:inline-block;
    height: 350px;
    width: 550px;
    position:relative;
    top:60px;
    margin-right: 192px;
    background-color:white;
    float:right;
}
#googleMaps {
    height: 45%;
    width: 80%;
    margin-left: 10%;
    transform: translateY(30%);
}

#firstPage {
    align-items: center;
    height: 100%;
    justify-content: center;
    display: flex;
}

#food {
    background-size:contain;
    height:100%;
    width:100%;
}